
* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    box-sizing: border-box;
}

/* hide/show ids */
#show {
    display: flexbox;
}

#hide {
    display: none;
}

/* highscore button styling */
button.view-highscores {
    margin-right: 1000px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
}

button.view-highscores:hover {

}

/* timer countdown */
.timer {
    margin-right: 100px;
    margin-top: -30px;
    text-align: right;
}

/* start screen styling */
.start-title {
    font-size: 40px;
    padding: 50px;
}

.start-intro {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
}

/* question title styling */
.question {
    font-size: 30px;
}

/* button styling */
button {
    cursor: pointer;
    border-radius: 10px;
    background-color: purple;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

button:hover {
    background-color: violet;
}

/* feedback styling for correct/wrong responses */
/* gray border bar above feedback */
hr {
    margin-top: 50px;
}

.feedback-text {
    font-size: 30px;
    margin: 20px;
    color: lightgrey;
}

/* all done title styling for result page */
.all-done {
    font-size: 50px;
}


